html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-section {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(8, 61, 119, 0.8561625333727241) 97%, rgba(7, 88, 143, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

h2 {
  font-size: 2rem !important;
}

@media (min-width: 600px) {
  h2 {
    font-size: 2.1rem !important;
  }
}

@media (min-width: 960px) {
  h2 {
    font-size: 3rem !important;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-size: 3.65rem !important;
  }
}

h3 {
  font-size: 1.2rem !important;
}

@media (min-width: 960px) {
  h3 {
    font-size: 1.6rem !important;
  }
}

h4 {
  font-size: 1rem !important;
}

@media (min-width: 960px) {
  h4 {
    font-size: 1.2rem !important;
  }
}

.material-icons {
  display: none;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  line-height: 20px !important;
  font-size: 12px !important;
  color: #ebebd3 !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #083d77 !important;
}

.swiper-pagination {
  width: auto !important;
  bottom: 0.8rem !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #af3856 !important;
}

@media (min-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    color: #ebebd3 !important;
  }
}
